<div class="container">
  <div class="row">
    <div class="col">
      Buy Price: <%= PriceBtc.get_buy_price %>
    </div>

    <div class="col-6">
    </div>

    <div class="col">
      Sell Price: <%= PriceBtc.get_sell_price %>
    </div>
  </div>
</div>